.link {
  stroke: 	#00FFFF;
  stroke-width: 0.20em;
}

.node text {
  /*pointer-events: none;*/
  font: 15px Helvetica;
}

body {
  background-image: url("../../asset/photos/blackbackground.jpg");
  background-image: cover;
}

.carousel .item {
  height: 400px;
  width: 100%;
}

#banner {
  height: 400px;
}

#title {
  top:80px;
  text-align:right;
  color: white;
}

#epilogue {
  top:200px;
  text-align:center;
}

#epilogue:hover {
  color: white;
}

#navmap {
  height: 300px;
}

#article {
  height: 1000px;
  background-image: url("../../asset/photos/coverbackground.png");
  background-size: cover;
}

#content {
  margin: 50px;
  padding: 50px;
  /*background-color:white;*/
  color: white;
}

#back {
  width: 100px;
  margin: auto;
  color: white;
}

#back:hover {
  size: 2em;
  color: yellow;
}
